{% extends 'base.html.twig' %}

{% block title %}Contactez notre incroyable équipe !{% endblock %}

{% block body %}

{# ------------------------------------------------------Feuille de Route---------------------------------------------------------- #}


<section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">Feuille de Route</h2>
                    <h3 class="section-subheading">Nos améliorations et ajouts à venir</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="image/contact/globe3.png" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2021</h4>
                                <h4 class="subheading">Nouvelle année, nouveaux défis</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Chaque nouvelle année nous nous donnons des objectifs et des défis encore plus important afin de rendre le site le plus complet, le plus beau et le plus fluide possible</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="image/contact/globe3.png" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1er semestre 2021</h4>
                                <h4 class="subheading">Ajout de nouveaux pays et nouvelles villes</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Quoi de mieux pour commencer l'année que de rendre d'autres pays et d'autres villes encore plus accessibles. Au programme, ajout du Mexique, du Maroc, du Japon et du Brésil</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="image/contact/globe3.png" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2ème semestre 2021</h4>
                                <h4 class="subheading">Améliorations graphiques</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Nous préparons pour cette date une toute nouvelle refonte graphique du site, encore plus joli et plus moderne</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="image/contact/globe3.png" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022</h4>
                                <h4 class="subheading">Des surprises</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Nous vous préparons tout pleins de nouvelles surprises pour l'année prochaine. Soyez au rendez-vous !</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4 class="voyage">
                                Prenez
                                <br />
                                Part Au
                                <br />
                                Voyage!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
{# ------------------------------------------------------Fin Feuille de Route---------------------------------------------------------- #}






{# ------------------------------------------Notre équipe---------------------------------------------- #}
<br>
<section class="page-section bg-light" id="team">
            <div class="container">
            {% for message in app.flashes('success') %}
                <div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3 mb-3">{{message}}</div>
            {% endfor %}
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Notre suberbe équipe</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="rounded-circle" src="../image/contact/manu.png" alt="" />
                            <h4>Emmanuel Dasilve</h4>
                            <p class="text-muted">Développeur Web</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="rounded-circle" src="./image/contact/salaheddine2.jpg" alt="" />
                            <h4>Salaheddine HZ</h4>
                            <p class="text-muted">Développeur Web</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../image/contact/catherine.png" alt="" />
                            <h4>Catherine DOUCET</h4>
                            <p class="text-muted">Développeur Web</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../image/contact/david.jpg" alt="" />
                            <h4>David VERON</h4>
                            <p class="text-muted">Développeur Web</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Vous pouvez nous contactez en utilisant le formulaire en dessous pour toutes demandes, suggestions ou propositions de collaboration</p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/envato.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/designmodo.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/themeforest.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/creative-market.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Conctactez-nous</h2>
                    <h3 class="section-subheading text-muted">Nous serons ravis de répondre à toutes vos questions.</h3>
                </div>
                {# <form method="post" id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" id="nom" name="nom" type="text" placeholder="Votre Nom *" required="required" data-validation-required-message="Veuillez entrer votre nom." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="prenom" name="prenom" type="prenom" placeholder="Votre Prénom *" required="required" data-validation-required-message="Veuillez entrer votre prénom." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group mb-md-0">
                                <input class="form-control" id="email" name="email" type="email" placeholder="Votre Email *" required="required" data-validation-required-message="Veuillez entrer votre email." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <textarea class="form-control" id="message" name="message" placeholder="Votre Message *" required="required" data-validation-required-message="Veuillez écrire votre message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">envoyer un message</button>
                    </div>
                </form> #}

                {{ form_start(formMessage) }}
                

                    <div class="row">

                        <div class="col-md-6">
                            {{ form_row(formMessage.nom, {'attr': {'placeholder': 'NOM'}}) }}

                            {{ form_row(formMessage.prenom, {'attr': {'placeholder': 'PRENOM'}}) }}

                            {{ form_row(formMessage.email, {'attr': {'placeholder': 'EMAIL'}}) }}
                        </div>

                        <div class="col-md-6">
                            
                            {{ form_row(formMessage.message, {'attr': {'rows': 8, 'placeholder': 'MESSAGE'}}) }}
                        </div>

                    </div>

                    <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">envoyer un message</button>
                    </div>

                {{ form_end(formMessage) }}
                
            </div>
        </section>
        


{% endblock %}
