{% extends 'base.html.twig' %}

{% block title %}Découvrir 

    {% for data in ville %}
        {% if data.id == id %}
            {{ data.title }}
        {% endif %}
    {% endfor %}! 

{% endblock %}

{% block body %}


<div class="container">

    <div class="text-light">

    </div>

    <div class="row-12 p-0 m-2">

        <div class="col-md-12 display-4 text-center my-4 text-start">

            <!-- Ville choisie -->
            <h1> Discover
                {% for data in ville %}
                            {% if data.id == id %}
                                {{ data.title }}
                            {% endif %}
                {% endfor %} </h1>

            </div>
        </div>

     <button type="button" class="btn btn-secondary"><a href="{{ path('ind') }}" style="text-decoration: none; color: white;">Back To India</a></button> 



    <div class="row">

        {% for data in lieu %}
            {% if data.ville.id == id %}


                <div class="col-md-4">

                    <div class="card mt-5">
                        <h5 class="text-center">{{ data.category.title }}</h5>
                        <img class="card-img-top" src="/image/{{ data.image }}" alt="Card image cap" style="height: 250px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ data.title}} </h5>
                            <p class="card-text">{{ data.adresse }}</p>

                            {# <a href="{{ path('lieupt', {'id': data.id }) }}" class="btn btn-primary">Voir plus</a>  #}

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>



</div>
{% endblock %}
